:root {
    --color-gray-1: #cecece;
    --color-gray-2: #bababa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
}

table, tr, td {
    border: 1px solid var(--color-gray-1);
    border-collapse: collapse;
}

.wrapper {
    padding: 5% 10%;
}

.form {
    text-align: center;
    margin-bottom: 50px;
}

.input {
    padding: 5px 10px;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid var(--color-gray-2);
}

.button {
    padding: 5px 30px;
    margin-left: 5px;
    border: 1px solid var(--color-gray-2);
    font-size: inherit;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
}

.table {
    min-width: 400px;
    margin: 0 auto;
}

.table__data {
    padding: 10px 15px;
}