:root {
    --color-gray-1: #6C757D;
    --color-gray-2: #343A40;
    --color-gray-3: #1A1C22;
    --grid-gap: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    /*grid-template-rows: 100px minmax(400px, auto) 100px;*/
    grid-template-rows: 100px auto 100px;
    grid-gap: 15px;
}

.header,
.footer {
    background-color: var(--color-gray-3);
    grid-column: 1 / -1;
}

.main {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: 50% repeat(6, 1fr);
    grid-gap: 15px;
    overflow-y: auto;
}

.sidebar {
    background-color: var(--color-gray-1);
}

.content {
    background-color: var(--color-gray-2);
}


/* max-height: 630px */
@media (max-height: 630px) {
    .container {
        height: unset;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 115px 0;
    }

    .header,
    .footer {
        height: 100px;
        background-color: var(--color-gray-3);
        position: fixed;
        width: 100%;
        box-sizing: content-box;
    }

    .header {
        top: 0;
        border-bottom: 15px solid #ffffff;
    }

    .footer {
        bottom: 0;
        border-top: 15px solid #ffffff;
    }

    .main {
        /*height: calc(100vh - 2 * 100px - 2 * var(--grid-gap));*/
        /*margin-top: calc(100px + var(--grid-gap));*/
        min-height: 400px;
        overflow-y: auto;
        /*grid-column: 1 / -1;*/
        /*display: grid;*/
        /*grid-template-rows: 6fr repeat(6, 1fr);*/
        /*grid-gap: 15px;*/
    }
}

@media (min-width: 600px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50% repeat(3, 1fr);
    }

    .sidebar {
        grid-column: 1 / -1;
    }
}

@media (min-width: 900px) {
    .main {
        grid-template-columns: 400px repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .sidebar {
        grid-column: span 1;
        grid-row: span 3;
    }
}

@media (min-width: 1200px) {
    .main {
        grid-template-columns: 400px repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .sidebar {
        grid-column: span 1;
        grid-row: span 2;
    }
}

